body {
	position: relative;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    width: 900px;
    margin: 0 auto;
    padding: 10px;
    color: #000;
	background-image: url("background.jpg");
}

.top-page {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
	margin-top: 75px;
    margin-bottom: 40px;
    margin-right: auto;
	margin-left: auto;
    width: 80%;
    text-decoration: none;
}

.top-page *
{
	text-align: center;
	vertical-align: middle;
}

.top-image {
	display: inline-block;
	vertical-align: middle;
}

.top-a {
	text-decoration: none;
}

#content {
	position:relative;
	top:60px;
}

#nav{
	width: 100%;
    position:relative;
	top:48px;
    text-align:center;
}

#nav ul{
	list-style: none ;
}

#nav ul li {
	display: inline;
	color: #000000 ;
	padding:11px 0;
}

#nav ul li a {
	text-align: center;
	background: #568203;
	padding: 11px;
	border: 1px solid #000 ;
	color: #000000 ;
	text-decoration: none ;
}

#nav ul li a:hover, #nav li a:focus, #nav li a:active {
	background: #7fff00 ;
	text-decoration: none ;
}

.error {
    color: red;
}

#main {
	text-align: left;
}

.page-heading {
	text-align: center;
	vertical-align: middle;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: -5px;
	width: 300px;
    position: relative;
    background-color: #F0FFF0;
	border: solid 5px #00B815;
	border-radius: 10px;
	padding: 5px;
}

.tripform-section {
	text-align: center;
}

.formulaire {
	padding: 10px;
	background-color: #F0FFF0;
	border: solid 5px #00B815;
	border-radius: 10px;
}

.link:hover {
	color: #378000;
	text-decoration: underline;
}

.trip-title {
	color: #378000;
	font-size: 150%;
	text-decoration: none;
}:not(.comment:last-child)


.trip-title:hover {
	text-decoration: underline;
}

.comment {
	border-bottom: solid 1px #378000;
	padding: 10px;
}

.comment:last-child {
	border-bottom: solid 0px #FF0000;
}

.comment-form {
	text-align: left;
}

.comments {
	text-align: left;
}

.commentUserName {
	width: 300px;
	border-bottom: solid 1px black;
}

.commentPosted {
	display: inline-table;
	text-align: right;
}

.b {
	height: 100px;
	width: 300px;
	max-width: 300px;
	max-height: 100px;
}

.submitButton
{
	padding: 10px;
}

.shareButton
{
	text-align: center;
}

.error-image {
	display: inline-block;
	vertical-align: middle;
	border:1px solid black;
}

.centerError {
	text-align:center;
	}
	
.shareTextArea {
	height:250px;
	width:500px;
}

.formulaire-top {
	padding: 10px;
	background-color: #F0FFF0;
	border: solid 5px #00B815;
	border-bottom: none;
	border-radius: 10px;
}

.label {
	vertical-align: text-top;
}

.formulaire-top h2,.formulaire h2 {
	margin-top: 0px;
}

.hub {
	text-align: center;
}

.formSub {
	display: block;
	font-size: 60%;
}

.criteria {
	font-weight: bold;
}

.criteriaValue {
	display: block
}

.newSearchButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:36px;
	line-height:36px;
	width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #aade7c;
	cursor: pointer;
}

.newSearchButton :hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}

.newSearchButton :active {
	position:relative;
	top:1px;
}
