body {
    position: relative;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #000;
	background-image: url("background.jpg");
	background-repeat:repeat-y,repeat-y, repeat-x;
	background-position: left top, right top,left top;
}

.top-page {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
	margin-top: 75px;
    margin-bottom: 40px;
    margin-right: auto;
	margin-left: auto;
    width: 80%;
    text-decoration: none;
}

.top-page *
{
	text-align: center;
	vertical-align: middle;
}

.top-image {
	display: inline-block;
	vertical-align: middle;w
}

#content {
	position:relative;
	top:60px;
}

#nav{
    position:relative;
	top:48px;
    text-align:center;
}

#nav ul{
	list-style: none ;
}

#nav ul li {
	display: inline;
	color: #000000 ;
	padding:11px 0;
}

#nav ul li a {
	text-align: center;
	background: #568203;
	padding: 11px;
	border: 1px solid #000 ;
	color: #000000 ;
	text-decoration: none ;
}

#nav ul li a:hover, #nav li a:focus, #nav li a:active {
	background: #7fff00 ;
	text-decoration: none ;
}

.error {
    color: red;
}

.page-heading {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: -5px;
	width: 200px;
    position: relative;
    background-color: #F0FFF0;
	border: solid 5px #00B815;
	border-radius: 10px;
    /*border-bottom: 3px solid #008B8B;*/
}

.tripform-section {
	text-align: center;
}

.formulaire {
	padding: 10px;
	background-color: #F0FFF0;
	border: solid 5px #00B815;
	border-radius: 10px;
}