<!DOCTYPE html>
<html>
<HTML>
 
 <HEAD>
  <LINK rel="stylesheet" type="text/css" href="../static/style.css">
  <title>BrocoTrip</title>
 </HEAD>
 
 <BODY>
 	<div class="top-page">
		<a href="/">
				<img class="top-image" src="../static/logo.png">
				<img class="top-image" src="../static/banner.png">
		</a>
	</div>
	<div id="nav">
		<ul>
			<li>
				<a href="/" title="Go to the hub">
					Hub
				</a>
				<a href="/_create" title="Create a new trip !">
					Make a trip
				</a>
			</li>
		</ul>
	</div>
	<br>	
	<section id="content">
		{% block content %}
		{% endblock %}
	</section>
	<br>
	<br>
	<br>
</body>

</html>

