<!DOCTYPE html>
<html>

 <HEAD>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <link rel="stylesheet"  type="text/css" href="../static/flexslider.css">
  <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico" />
  <link rel="icon" type="image/x-icon" href="../static/favicon.ico" />
  <script src="../static/jquery.js"></script>
  <script src="../static/jquery.flexslider.js"></script>
  <script src="../static/someJS.js"></script>
  <title>BroccoTrip</title>
 </HEAD>
 
 <BODY>
 	<div class="top-page">
		<a href="/" class="top-a">
			<div class="shadow">
				<img class="top-image" src="../static/logo.png" />
				<img class="top-image" src="../static/banner.png" />
			</div>
		</a>
	</div>
	<div id="nav">
		<ul>
			<li>
				<a href="/" title="Go to the hub">
					Hub
				</a>
			</li>
			<li>
				<a href="/_create" title="Create a new trip!">
					Make a trip
				</a>
			</li>
			<li>
				<a href="/_join" title="Discuss the trip!">
					Join a discussion hub
				</a>
			</li>
			{% block menu %}
			{% endblock %}
		</ul>
	</div>
	<br>	
	<section id="content">
		{% block content %}
		{% endblock %}
	</section>
	<br>
	<br>
	<br>
</body>

</html>
