<!DOCTYPE html>
<html>
<HTML>
 
 <HEAD>
  <LINK rel="stylesheet" type="text/css" href="../static/style.css">
  <title>BrocoTrip</title>
 </HEAD>
 
 <BODY>
	<a href="/" class="top-page">
		<div>
				<img src="../static/logo.png">
				<img src="../static/banner.png">
		</div>
	</a>
	<div id="nav">
		<ul>
			<li>
				<a href="/" title="Go to the hub">
					Front page
				</a>
			</li>
		</ul>
	</div>
	<br>	
	<div id="create">
		{% block content %}
		{% endblock %}
	</section>
	<br>
	<br>
	<br>
</body>

</html>

