{% extends "base.html" %}

{% block content %}
<section class="tripform-section">
	<div class="page-heading">
		<h2>
			Place
		</h2>
	</div>
	<p>
		{% if error %}
		<p>{{error}}<p>
		{% else %}
		<div class="place">
			<span class="criteria">
				<h2><a href='{{place.link}}'> {{place.heading}} </a></h2>
			</span><span class="criteriaValue">
			<span class="criteria">
				<div class="flexslider">
					<ul class="slides">
						{% for item in place.photos %}
						<li>
							<img src='{{item}}' />
						</li>
						{% endfor %}
					</ul>
				</div>
			</span>
			<span class="criteria">Location :</span><span class="criteriaValue">{{place.origin}} </span>
			<span class="criteria">Minimum stay nights :</span><span class="criteriaValue">{{place.minimum_stay_night}} </span>
			<span class="criteria">Per person :</span><span class="criteriaValue">{{place.price_per}} </span>
			<span class="criteria">Number of beds :</span><span class="criteriaValue">{{place.bed_count}} </span>
			<span class="criteria">Occupancy :</span><span class="criteriaValue">{{place.occupancy}} </span>
			<span class="criteria">Provider :</span><span class="criteriaValue">{{place.provider}} </span>
			<span class="criteria">Description :</span><span class="criteriaValue"> {{place.description}} </span>
			<span class="criteria">PID :</span><span class="criteriaValue"> {{place.pid}} </span>
			<span class="criteria">Price :</span><span class="criteriaValue"> {{place.price}} </span>
			<span class="criteria">Link :</span><span class="criteriaValue"> </span>
			<span class="criteria">Country :</span><span class="criteriaValue"> {{place.country}} </span>
			<span class="criteria">NID :</span><span class="criteriaValue"> {{place.nid}} </span>
			<span class="criteria">bathroomCount :</span><span class="criteriaValue"> {{place.bathroomcount}} </span>
			<span class="criteria">bedroomCount :</span><span class="criteriaValue"> {{place.bedroomcount}} </span>
			<span class="criteria">room type :</span><span class="criteriaValue"> {{place.room_type}} ({{place.room_type_alias}}) </span>
			<span class="criteria">prop type :</span><span class="criteriaValue"> {{place.prop_type}} ({{place.prop_type_alias}}) </span>
			<span class="criteria">position :</span><span class="criteriaValue"> {{place.latitude}} :: {{place.longitude}} </span>
			<span class="criteria">unavailable :</span><span class="criteriaValue"> </span>
			{% for item in place.unavailable %}
			- {{item}} <br>
			{% endfor %}
			amenities :  <br>
			{% for item in place.amenities %}
			- {{item}} <br>
			{% endfor %}
			photos :  <br>
		</div>
		<p>
			{% endif %}
		</section>
		{% endblock %}