{% extends "base.html" %}

{% block content %}
<section class="tripform-section">
	<div class="page-heading">
		<h2>
			Places
		</h2>
	</div>
	<section id="main" class="formulaire">
		<div class="hub">
			<p>Total results : {{total_results}}</p>
			<p>{{pageLinks | safe}} -- {{page}}/{{total_pages}}</p>
			<section id="search">
				<form method="post">
					<label>
						Search for a city :
						<input type="text" name="citySearch">
					</label>
				</form>
			</section>
			<hr>
			<section class="places">
				{% for place in places_list %}
				<div class="place">
					<span class="criteriaValue">
						<a href='/_places?id={{place.pid}}'> {{place.heading | safe}} </a>
					</span>
					<span class="criteria">Location :</span><span class="criteriaValue">{{place.origin | safe}} </span>
					<span class="criteria">Description :</span><span class="criteriaValue"> {{place.description | safe}} </span>
					<span class="criteria">Person/Night :</span><span class="criteriaValue"> ${{place.price | safe}}</span>
				</div>
				<hr class="lastHR">
				{% endfor %}
				<div class="endMessage">That's all for to-day people !</div>
				<p>{{pageLinks | safe}}</p>
			</section>
		</div>
	</section>
</section>
{% endblock %}
