{% extends "base.html" %}

{% block content %}
<section class="tripform-section">
	<div class="page-heading">
		<h2>
			Place
		</h2>
	</div>
	<section id="main" class="formulaire">
		<div class="hub">
		{% if error %}
		<p>{{error}}<p>
		{% else %}
		<div class="place">
			<div class="criteria titlePlace">
					<a href='{{place.link}}'> {{place.heading}} </a>
			</div>
			<span class="criteriaValue">
			<span class="criteria">
				<div class="flexslider">
					<ul class="slides">
						{% for item in place.photos %}
						<li>
							<img src='{{item}}' />
						</li>
						{% endfor %}
					</ul>
				</div>
			</span>
			<span class="criteria">Location :</span><span class="criteriaValue">{{place.origin}} </span>
			{% if place.description != "" %}
			<span class="criteria">Description :</span><span class="criteriaValue"> {{place.description}} </span>
			{% endif %}
			{% if place.price > 0 %}
			<span class="criteria">Price :</span><span class="criteriaValue"> ${{place.price}} </span>
			{% endif %}
			{% if place.minimum_stay_night > 0 %}
			<span class="criteria">Minimum stay nights :</span><span class="criteriaValue">{{place.minimum_stay_night}} </span>
			{% endif %}
			{% if place.price_per > 0 %}
			<span class="criteria">Per person :</span><span class="criteriaValue">{{place.price_per}} </span>
			{% endif %}
			{% if place.bed_count > 0 %}
			<span class="criteria">Number of beds :</span><span class="criteriaValue">{{place.bed_count}} </span>
			{% endif %}
			{% if place.occupancy > 0 %}
			<span class="criteria">Occupancy :</span><span class="criteriaValue">{{place.occupancy}} </span>
			{% endif %}
			{% if place.provider != "" %}
			<span class="criteria">Provider :</span><span class="criteriaValue">{{place.provider}} </span>
			{% endif %}
			{% if place.country != "" %}
			<span class="criteria">Country :</span><span class="criteriaValue"> {{place.country}} </span>
			{% endif %}
			{% if place.bathroomcount > 0 %}
			<span class="criteria">Bathrooms :</span><span class="criteriaValue"> {{place.bathroomcount}} </span>
			{% endif %}
			{% if place.bedroomcount > 0 %}
			<span class="criteria">Bedrooms :</span><span class="criteriaValue"> {{place.bedroomcount}} </span>
			{% endif %}
			{% if place.room_type_alias != "" %}
			<span class="criteria">Room type :</span><span class="criteriaValue"> {{place.room_type_alias}} </span>
			{% endif %}
			{% if place.prop_type_alias != "" %}
			<span class="criteria">Prop type :</span><span class="criteriaValue"> {{place.prop_type_alias}} </span>
			{% endif %}
			{% if place.latitude and place.longitude %}
			<span class="criteria">Position :</span><span class="criteriaValue"> {{place.latitude}} :: {{place.longitude}}	<img class="googlemap" src="http://maps.googleapis.com/maps/api/staticmap?size=380x263&sensor=false&markers={{place.latitude}},{{place.longitude}}"> </span>

			{% endif %}
			<span class="criteria">Commodités :</span><span class="criteriaValue">
			{% for item in place.amenities %}
			- {{item}} <br>
			{% endfor %}</span>
		</div>
			{% endif %}
		</div>
		</section>
		</section>
		{% endblock %}