{% extends "base.html" %}

{% block content %}
	<section class="trip">
		<div class="page-heading">
			<div class="trip-title">
				<a href="/{{trip.key().id()}}" class="trip-title">{{trip.title}}</a>
			</div>
			<div class="post-date">
				{{trip.created.strftime("%c")}}
			</div>
		</div>
		
		<section class="formulaire">
			<div class="comments">
				{% for comment in comments %}
					<div class="comment">
						<div class="commentUserName">
							{{ comment.username }}
						</div>
						<div class="commentPosted">
							{{ comment.posted.strftime("%c") }}
						</div>
						<div class="commentMessage">
							{{ comment.message }}
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
	</div>
{% endblock %}